ul#groups {
  border: 0px solid black;
  padding: 0 0 0 0;
  list-style: none;
  vertical-align: top;
}

label.iconSelector {
  background-color: grey;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px var(--box-shadow);
  min-width: 5em;
  max-width: 10em;
  min-height: 5em;
  display: inline-block;
  background-color: white;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  vertical-align: top;
  text-align: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

label.iconSelector span {
  font-size: 12px;
}

label.iconSelector img {
  height: 36px;
  padding-top: 3px;
}

label.iconSelector input[type="radio"] {
  position: absolute;
  margin-top: 28px;
  margin-left: 8px;
  float: right;
}

.groupPseudoLabel {
  display: none;
}

div#groupsFilter>div {
  color: inherit;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

ul#categories {
  border: 0px solid black;
  padding: 0 0 0 0;
  list-style: none;
}

li.categoryLi {
  color: inherit;
  display: inline-block;
  padding:5px 10px 5px 10px;
}

div#categoriesFilter>div {
  color: inherit;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

div.filterDisplayContainer {
  display: inline-block;
  border: 1px solid var(--box-shadow);
  border-radius: 5px;
  padding: 7px 7px 7px 7px;
  background-color: white;
}

div.filterDisplayContainer img {
  display: inline-block;
  width: 38px;
  margin-right: 16px;
  margin-left: 8px;
}

div.filterDisplayContainer div {
  display: inline-block;
  margin-right: 8px;
  width: 200px;
  vertical-align: top;
}

div.filterDisplayContainer form {
  display: inline-block;
  padding-right: 8px;
  vertical-align: top;
}

div.filterDisplayContainer label {
  color: var(--grey-text);
  font-size: 0.8em;
  line-height: 1.6em;
}

ul#generalItems {
  border: 0px solid black;
  padding: 0 0 0 0;
}

a.generalItem {
  color: inherit;
  text-decoration: none;
}

div.generalItem {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  display: inline-block;
  height: 5em;
  width: 300px;
  padding: 10px 14px 10px 12px;
  margin: 5px 5px 5px 5px;
  vertical-align: top;
  box-shadow: 3px 3px 3px 1px var(--box-shadow);
}

div.generalItem div.col1 {
  display: inline-block;
  width: 80%;
}

div.generalItem div.col1 p.categoryName {
  font-size: 0.8em;
  color: var(--grey-text);
}

div.generalItem div.col1 p.generalItem_Name {
  font-weight: bold;
}

div.generalItem div.col1 p.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

div.generalItem div.col2 {
  display: inline-block;
  text-align: right;
  width: 20%;
  line-height: 1.1em;
  vertical-align: top;
}

div.generalItem div.col2 button {
  margin-bottom: 5px;
}

div.generalItem div.col2 span.itemCtLabel {
  color: var(--grey-text);
  font-size: 0.7em;
  position: relative;
  top: -3px;
}

div.generalItem p {
  margin: 0;
  margin-bottom: 3px;
}

div.generalItem span {
  color: inherit;
}

div.filterContainer {
  border:0px solid grey;
  padding: 5px;
}