@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(../components/RobotoFont/Roboto-Regular.ttf);
}

html {
  --color: #999;
  --checked-color: rgb(55, 148, 36);

  --bg-color: #e8e8e8;
  --box-shadow: rgb(201, 201, 201);

  --grey-text: rgb(133, 133, 133);
  

  font-family: Roboto, Tahoma, Arial, sans-serif;
  font-size: 16px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-color);
}

div.mainContent {
  padding: 10px;
}

iframe {
  border: 0px;
  padding: 0px;
  margin: 0px;
  display: block;
}

iframe#component_topNav {
  width: 100%;
  height: 82px;
}

div#mainContainer {
  margin: 16px;
}

h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  margin-top: 8px;
  margin-bottom: 16px;
}

button {
  cursor: pointer;
}

div#listingsSalesOrders {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 8px;
  display: inline;
  border-radius: 22px;
  text-align: center;
  box-shadow: 3px 3px 3px 1px var(--box-shadow);
}

div#listingsSalesOrders a {
  text-decoration: none;
  color: inherit;
}

div#listingsSalesOrders div {
  background-color: inherit;
  display: inline-block;
  padding: 6px;
  width: 84px;
  border-radius: 18px;
  color: var(--grey-text);
  font-weight:bold;
}

div#listingsSalesOrders div.selected {
  background-color: rgb(155, 255, 56);
  color: black;
}

div#searchContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

input#search {
  display: inline-block;
  border: 1px solid black;
  border-radius: 7px;
  padding: 11px 45px 11px 11px;
  font-size: 1.2em;
  width: 265px;
}

input#search + img {
  display: inline-block;
  margin-left: -43px;
  cursor: pointer;
}

div.listCard {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  display: inline-block;
  height: 5em;
  width: 300px;
  padding: 10px 14px 10px 12px;
  margin: 5px 5px 5px 5px;
  vertical-align: top;
  box-shadow: 3px 3px 3px 1px var(--box-shadow);
}

/* Checkbox Formatting */
.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.css-checkbox + label {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  color: rgb(97, 97, 97);
  height: 1.2em;
}
.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 11px;
  height: 11px;
  background-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: var(--checked-color);
  border-radius: 3px;
  box-shadow: none;
}
.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 3px;
  text-align: center;
  background-color: rgb(67, 176, 42);
  height: 14px;
  width: 14px;
  border-radius: 3px;
}

/* Radio Buttons */
input[type="radio"] {
  height: 1.1em;
  width: 1.1em;
  margin-right: 0.5rem;
  accent-color: var(--checked-color);
  cursor: pointer;
}

/* Accordion Panels */
label.accordion {
  cursor: pointer;
}

input.accordion + a label.accordion h3:hover {
  color: var(--grey-text);
}

input.accordion + a label.accordion h3::after {
  display: inline-block;
  margin-left: 10px;
  background-image: url('../images/icons8-collapse-arrow-50.png');
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  content: "";
  transform: rotate(90deg);
  transition: 0.5s ease;
}

input.accordion#accordionPanel_sources:checked + a label.accordion h3::after {
  transform: rotate(180deg);
  transition: 0.5s ease;
}

input.accordion#accordionPanel_myListings:checked + a label.accordion h3::after {
  transform: rotate(180deg);
  transition: 0.5s ease;
}

#accordionPanel_sources {
  display: none;
}

#accordionPanel_myListings {
  display: none;
}

.collapsible {
  display: block;
}

#accordionPanel_sources + a + .collapsible {
  overflow: hidden;
  height: 0;

  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

#accordionPanel_myListings + a + .collapsible {
  overflow: hidden;
  height: 0;

  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

#accordionPanel_sources:checked + a + .collapsible {
  height: 160px; /* needs a numeric value here to keep transition */
}

#accordionPanel_myListings:checked + a + .collapsible {
  height: 100px; /* needs a numeric value here to keep transition */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  vertical-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}