@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(components/RobotoFont/Roboto-Regular.ttf);
}

html {
  --color: #999;
  --checked-color: rgb(55, 148, 36);

  --bg-color: #e8e8e8;
  --box-shadow: rgb(201, 201, 201);

  --grey-text: rgb(133, 133, 133);

  font-family: Roboto, Tahoma, Arial, sans-serif;
  font-size: 16px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-color);
}

iframe {
  border: 0px;
  padding: 0px;
  margin: 0px;
  display: block;
}

iframe#component_topNav {
  width: 100%;
  height: 82px;
}

div#mainContainer {
  margin: 16px;
}

h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  margin-top: 8px;
  margin-bottom: 16px;
}

button {
  cursor: pointer;
}

div#listingsSalesOrders {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 8px;
  display: inline;
  border-radius: 22px;
  text-align: center;
  box-shadow: 3px 3px 3px 1px var(--box-shadow);
}

div#listingsSalesOrders a {
  text-decoration: none;
  color: inherit;
}

div#listingsSalesOrders div {
  background-color: inherit;
  display: inline-block;
  padding: 6px;
  width: 84px;
  border-radius: 18px;
  color: var(--grey-text);
  font-weight:bold;
}

div#listingsSalesOrders div.selected {
  background-color: rgb(155, 255, 56);
  color: black;
}

ul#groups {
  border: 0px solid black;
  padding: 0 0 0 0;
  list-style: none;
  vertical-align: top;
}

label.iconSelector {
  background-color: grey;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px var(--box-shadow);
  min-width: 5em;
  max-width: 10em;
  min-height: 5em;
  display: inline-block;
  background-color: white;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  vertical-align: top;
  text-align: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

label.iconSelector span {
  font-size: 12px;
}

label.iconSelector img {
  height: 36px;
  padding-top: 3px;
}

label.iconSelector input[type="radio"] {
  position: absolute;
  margin-top: 28px;
  margin-left: 8px;
  float: right;
}

.groupPseudoLabel {
  display: none;
}

div#groupsFilter>div {
  color: inherit;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

ul#categories {
  border: 0px solid black;
  padding: 0 0 0 0;
  list-style: none;
}

li.categoryLi {
  color: inherit;
  display: inline-block;
  padding:5px 10px 5px 10px;
}

div#categoriesFilter>div {
  color: inherit;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

ul#generalItems {
  border: 1px solid black;
  padding: 0 0 0 0;
}

div.img-card {
  background-color: grey;
  border: 1px solid black;
  min-width: 5em;
  max-width: 10em;
  min-height: 5em;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  vertical-align: top;
}

div.filterContainer {
  border:0px solid grey;
  padding: 5px;
}

div.filterDisplayContainer {
  display: inline-block;
  border: 1px solid var(--box-shadow);
  border-radius: 5px;
  padding: 7px 7px 7px 7px;
  background-color: white;
}

div.filterDisplayContainer>img {
  display: inline-block;
  width: 38px;
  margin-right: 16px;
  margin-left: 8px;
}

div.filterDisplayContainer>div {
  display: inline-block;
  margin-right: 8px;
  width: 200px;
  vertical-align: top;
}

div.filterDisplayContainer>form {
  display: inline-block;
  padding-right: 8px;
  vertical-align: top;
}

div.filterDisplayContainer label {
  color: var(--grey-text);
  font-size: 0.8em;
  line-height: 1.6em;
}

/* Checkbox Formatting */
.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.css-checkbox + label {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  color: rgb(97, 97, 97);
  height: 1.2em;
}
.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 11px;
  height: 11px;
  background-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: var(--checked-color);
  border-radius: 3px;
  box-shadow: none;
}
.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 3px;
  text-align: center;
  background-color: rgb(67, 176, 42);
  height: 14px;
  width: 14px;
  border-radius: 3px;
}

/* Radio Buttons */
input[type="radio"] {
  height: 1.1em;
  width: 1.1em;
  margin-right: 0.5rem;
  accent-color: var(--checked-color);
  cursor: pointer;
}

/* Accordion Panels */
label.accordion {
  cursor: pointer;
}

input.accordion + a label.accordion h3:hover {
  color:var(--grey-text);
}

input.accordion + a label.accordion h3::after {
  display: inline-block;
  margin-left: 10px;
  background-image: url('images/icons8-collapse-arrow-50.png');
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  content: "";
  transform: rotate(90deg);
  transition: 0.5s ease;
}

input.accordion:checked + a label.accordion h3::after {
  transform: rotate(180deg);
  transition: 0.5s ease;
}

input.accordion {
  display: none;
}

.collapsible {
  display: block;
}

input.accordion ~ .collapsible {
  overflow: hidden;
  height: 0;

  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

#accordionPanel_sources:checked ~ .collapsible {
  height: 100px; /* needs a numeric value here to keep transition */
}

#accordionPanel_myListings:checked ~ .collapsible {
  height: 100px; /* needs a numeric value here to keep transition */
}