div#thisGeneralItem {
  margin-top: 30px;
}

div#thisGeneralItem>h4>img {
  display: inline-block;
  width: 20px;
  cursor: pointer;
  vertical-align: bottom;
  margin-right: 12px;
}

div#thisGeneralItem>h4>img:hover {
  opacity: 0.7;
}

span.generalItem_category {
  font-weight: normal;
  font-size: 0.8em;
  margin-left: 10px;
  background-color: var(--box-shadow);
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  border: 1px solid var(--grey-text);
  color: var(--grey-text);
}

ul#marketList {
  list-style-type: none;
  padding-left: 10px;
}

ul#marketList>li {
  display: flex;
  justify-content: left;
  align-items: center;
}

img.plusBtn {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

p.marketName {
  display: inline-block;
  margin: 9px 0px;
}