div#passwordValidationBlock p {
  margin: 0px;
}

input#firstName, label[for=firstName] {
  width: 134px;
  display: inline-block;
}

input#lastName, label[for=lastName] {
  width: 160px;
  display: inline-block;
  margin-right: 0px;
}

div.formBlock label[for=termsConditions] {
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}