table#myOrganizations {
  display: block;
}

tr.organizationRow {
  display: grid;
  margin-bottom: 0.4em;
}

td.col1 {
  border: 0px solid black;
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;
}

td.col1 p {
 margin: 0px 0px;
}

p.organizationName {
  font-weight: bold;
}

td.col2 {
  display: flex;
  justify-content: right;
  align-items: center;
  border: 0px solid black;
  grid-column-start: 6;
  grid-column-end: 6;
}

img.organizationTrashBtn {
  cursor: pointer;
}