<!DOCTYPE html>
<html>
<head>
  <title>Cropify - Components: Footer</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="stylesheet" href="./style.css">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <base target="_blank">
</head>
<body>

  <div id="footer">

    <div class="column column1">
      <h4>About Us</h4>
      <a href="https://cropify-landing.webflow.io"
        target="_self">
        Why Cropify
      </a>
        <a>Features</a><!-- Webflow landing page -->
        <a>Grow your Homestead</a><!-- Webflow landing page -->
        <p class="footerSectionBreak" />
      <h4>Support</h4>
        <a href="https://share-docs.clickup.com/9006036819/d/h/8ccuduk-230/41d64f99d66af93"
          target="_blank">
          Documentation
        </a>
        <a href="../public/reference-citations.html"
          target="_blank">
          Reference Citations
        </a>
        <a href="../public/site-map.html"
          target="_self">
          Site Map
        </a>
        <a href="https://cropify-landing.webflow.io/contact#contact"
          target="_blank">
          Contact Form
        </a>
        <!-- p class="footerSectionBreak" / -->
    </div>
    <div class="column column2">
      <h4>Accounts</h4>
        <a href="https://cropify.square.site/"
          target="_blank">
          Tokens
        </a>
        <a
          target="_self">
          Regional Coverage
        </a>
        <a href="https://wefunder.com/cropify/"
          target="_blank">
          Invest
        </a>
    </div>

  </div>

</body>
</html>