div#mainContainer {
  width: 100%;
}

img#Logo {
  width:150px;
  margin-left: 1.4%;
  margin-top: 8px;
}

div.rightContainer {
  float: right;
}

div.rightContainer a {
  text-decoration: none;
}

div.rightContainer img {
  border: 0px;
  margin: 10px;
}