<!DOCTYPE html>
<html>
<head>
  <title>Cropify - Components: Top Navigation</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="stylesheet" href="./style.css">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <base target="_parent">
</head>
<body>

<div class="bannerBar">This web app is currently in beta testing mode for demonstration purposes.</div>

<div id="topNavigation">

  <a href="../public/general-items.html" title="Home: General Items">
    <img id="CropifyLogo" src="../images/Cropify Logo green 2020-02-26 text-only 200px.png" alt="Cropify Logo">
  </a>

  <div class="rightContainer">
    <a href="../user-admin/shopping-cart.html" title="Shopping Cart">
      <img src="../images/icons8-shopping-basket-24.png" alt="Baskets">
    </a>
    <a href="../user-admin/profile.html" title="Profile">
      <img src="../images/icons8-male-user-24.png" alt="Profile">
    </a>
  </div>

</div>

</body>
</html>